body{
    background-color: darkorange;
}
.h1{
    background-color: aquamarine;
}
.input1{
    margin-left: 20px;

}
.input2{
    margin-left: 17px;
    margin-top: 10px;
}
.sex{
    margin-top: 10px;
}
.nam{
    margin-left: 30px;
}
.textarea{
    margin-left: 94px;
    margin-top: 10px;
}
.address{
    padding: 0px;
    position: relative;

}
.address.span{
    position: absolute;
    top: 8px;
}
.class{
    margin-left: 64px;
    margin-top: 10px;
    width: 177px;
    height: 25px;
}
.email{
    margin-top: 10px;
    margin-left: 51px;
}
.phone{
    margin-top: 10px;
    margin-left: 22px;
}
.btn{
    padding-left: 50px;
    position: relative;
    padding-top: 10px;
}
.btn1{

    margin-left: 43px;

}