.form-group input{
    margin-top: 10px;
    text-align: center;

}
input[type=checkbox]{
    width: 20px;

}
span{
    width: 20px;
    color: chocolate;
}
.input{
    float: left;
}


.label{
    margin-right: 50px;
    padding-top: 10px;
    float: left;
}
.label.email{
    margin-right: 73px;
}
form{

    margin: 0 100px 0 100px;
    padding: 20px;
}
h1{
    text-align: center;
    background-color: chocolate;
}


